<a href="{{ path('app_search_cards', {'q':card.typeQuery()}) }}" class="text-decoration-none">
{{ card.type.value | trans({}, 'types') }}
{% if card.traits | length > 0 %}
    &mdash; {{ card.formatTraits() }}
{% endif %}
    </a>